p {
  margin: 0;
}

/* @button @버튼 */
.q-btn {
  // TODO: 버튼 사이즈 클래스에 따라 변경 필요
  .q-icon {
    font-size: 14px;
  }

  &.border-grey-11 {
    border: none;

    &.q-btn--outline {
      &.q-hoverable:hover .q-focus-helper {
        background: #a8acc3;
      }

      .q-btn__wrapper:before {
        border: 1px solid #a8acc3;
      }
    }
  }

  &.square {
    .q-btn__wrapper {
      min-width: 36px;
      min-height: 36px;
      padding: 10px;
    }
  }

  .q-btn__wrapper:before {
    box-shadow: none;
  }
}

.flat-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;

  &:hover {
    .q-focus-helper {
      background: none !important;
      // color: #BEBAFF !important;
    }
  }
}

/* @input-field @인풋 */
.q-field {
  input::placeholder {
    color: #a8acc3;
  }
}

.field-flat .q-field__control {
  height: 40px;
  border-radius: 8px;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.q-field__control {
  height: 40px;
  border-radius: 8px;
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.q-field--outlined {
  .q-field__control:before {
    border-color: #efeff4;
  }
  .q-field__control:hover:before {
    border-color: #efeff4;
  }
}
.q-field--dense {
  .q-field__label {
    top: 8px;
  }
  .q-field__control,
  .q-field__marginal {
    height: 36px;
  }
  .q-field__bottom {
    font-size: 12px;
  }
}

//   A8ACC3
